.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 50px - 50px);
    background-color: #f0f0f0; /* Нейтральный цвет фона */
    /* overflow-y: scroll; */
  }
  
  .contacts-list {
    list-style-type: none;
    width: 80%; /* Ширина контейнера со списком контактов */
    max-width: 800px; /* Максимальная ширина контейнера */
    margin: auto; /* Центрирование контейнера */
    padding: 25px; /* Внутренний отступ */
    background-color: #ffffff; /* Цвет фона контейнера */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень */
  }
  
  .contacts-list h1 {
    margin-bottom: 20px; /* Отступ снизу заголовка */
    text-align: center;
  }
  .search-container {
    display: flex; /* Располагаем элементы в строку */
    align-items: center; /* Выравниваем элементы по вертикали */
    width: 95%; /* Ширина контейнера со списком контактов */
    max-width: 800px; /* Максимальная ширина контейнера */
    margin: auto; /* Центрирование контейнера */
    border-radius: 10px; /* Скругление углов */
  }
  
  .search-container input[type="text"] {
    margin-bottom: 0 !important;
    flex: 1; /* Растягиваем поле ввода по доступной ширине */
    width: 100%; /* Делаем поле ввода занимающим всю доступную ширину */
    border-radius: 10px 0 0 10px; /* Скругление углов только слева */
    padding: 10px; /* Добавляем отступы внутри поля ввода */
  }
  
  .search-container button {
    
    border: none; /* Убираем границу у кнопки */
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    padding: 11px 20px; /* Отступы внутри кнопки */
    text-align: center; /* Выравниваем текст по центру кнопки */
    text-decoration: none; /* Убираем подчеркивание текста */
    display: inline-block; /* Делаем кнопку блочным элементом внутри строки */
    cursor: pointer; /* Задаем стандартный курсор при наведении на кнопку */
    border-radius: 0 10px 10px 0; /* Скругление углов только справа */
    margin-left: -5px; /* Коррекция отступа слева */
  }

  .contacts-list ul {
    list-style-type: none; /* Убираем маркеры у списка */
    padding: 10px; /* Убираем внутренний отступ у списка */
  }
  
  .contacts-list li {
    margin-bottom: 20px; /* Отступ снизу между контактами */
    padding: 10px; /* Внутренний отступ */
    background-color: #f8f8f8; /* Цвет фона контакта */
    border-radius: 5px; /* Скругление углов */
    width: 100%; /* Занимает всю доступную ширину */
  }
  
  .contacts-list li p {
    margin: 15px;
  }

  .my-link {
    border: none;
      color: white; 
      margin: 10px;
      border-radius: 5px;
      padding: 9px;
      background-color: #007bff;
      text-decoration: none;
      transition: color 0.3s ease;
  }

  
  .my-link:hover {
     /* Изменяем цвет текста при наведении */
    background-color: #0056b3;
  }